@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*整个大盒子*/
.box{
    width: 600px;
    /*大盒子背景颜色*/
    background-color: #ccc;
    margin: 50px auto;
}
.box h3{
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 22px;
    /*头部颜色*/
    background-color: cadetblue;
}
.box .agt{
    height: 70px;
    overflow: auto;
    border: 1px solid #000;
    /*用户协议内的颜色*/
    background-color: #fff;
}
.box .ck{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.box .body{
    padding: 0 10px;
}
.box .body li{
    height: 60px;
    line-height: 60px;
    border-top: 1px solid #999;
}
.box .body li input{
    padding: 5px;
}
.box .body li .prompt{
    color: red;
}
.box .body #img{
    height: 30px;
    width: 30px;
    position: relative;
    left: 0;
    top: 10px;
}